.button{
    height: 50px;
    width: 100%;
    font-size: 19px;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: start;
    padding: 24px;
    margin-top: 15px;
    gap: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all ease-in-out .2s;
}

.button:hover{
    background-color: #e1e1e188;
    border-radius: 5px;
}

