.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    gap: 2px;
    cursor: pointer;
}
.header{
    margin-top: 15px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #D32F42;
}
