.whole{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
}
.aside{
    height: 100%;
    width: 250px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
}

.asidedark{
    height: 100%;
    width: 250px;
    background-color: #0F1115;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    color: white;
    transition: all ease-in-out .2s;

}

.asidebottom{
    position: absolute;
    bottom: 19px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 60%;
}
.asidebtn{
     height: 50px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: start;
    padding: 24px;
    gap: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: all ease-in-out .2s;
}

.hr{
    margin-left: 10px;
    width: 13vw;
}

.main{
    height: 100%;
    width: calc(100% - 250px);
    background-color: #e1e1e188;
}

.maindark{
    height: 100%;
    width: calc(100% - 250px);
    background-color: #161A20;
    color: white;
    transition: all ease-in-out .2s;

}

.dashboardtop{
    height: 11vh;
    width: 100%;
    background-color: #fff;           
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.dashboardtopdark{
    height: 11vh;
    width: 100%;
    background-color: #0F1115;  
    color: white;         
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all ease-in-out .2s;    
}



