.whole {
    height: calc(100% - 11vh);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left {
    width: 70%;
}

.top {
    height: 40vh;
    width: 95%;
    margin: 23px auto;
    background-color: white;
    border-radius: 5px;
}

.topdark {
    height: 40vh;
    width: 95%;
    margin: 23px auto;
    /* background-color: #161A20; */
    background-color: #0F1115;
    color: white;
    border-radius: 5px;
    transition: all ease-in-out .2s;
}


.h1 {
    margin-left: 45px;
    margin-bottom: -16px;
}



.right {
    height: 78vh;
    width: 30%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homeproduct {
    height: 78%;
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
}

.homeproductdark {
    height: 78%;
    width: 90%;
    background-color: #0F1115;
    border-radius: 5px;
    color: white;
    transition: all ease-in-out .2s;


}

.h2 {
    padding: 15px 25px;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pdiv {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    font-size: 17px;
    color: rgb(46, 46, 46);
}

.pdivdark {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    font-size: 17px;
    color: white;

}


.products {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 25px auto;
    align-items: center;
    font-size: 17px;
    color: rgb(46, 46, 46);
}

.btn {
    width: 75%;
    height: 6vh;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    margin: auto;
}


.comment {
    height: 23%;
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
}

.commentdark {
    height: 23%;
    width: 90%;
    border-radius: 5px;
    background-color: #0F1115;
    color: white;
    transition: all ease-in-out .2s;


}

.ctext {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.bottom {
     height: 40vh;
    width: 95%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
}

.bottomdark {
    height: 40vh;
    width: 95%;
    margin: auto;
    background-color: #0F1115;
    border-radius: 5px;
    
}


.chart {
     overflow: hidden;
    height: 38vh;
    width: 90%;
    padding: 15px;
    border: 10px;
    background: #fff;
    margin: auto;
}

.chardark {
    overflow: hidden;
    height: 38vh;
    width: 90%;
    padding: 15px;
    border: 10px;
    background: #0F1115;
    margin: auto;
}

.bar{
    margin:auto;
}