.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.h2 {
    padding: 5px 25px;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
    padding: 10px 20px;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    background-color: #e1e1e188;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 5px;
}

.buttondark {
    padding: 10px 20px;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161A20;
    outline: none;
    border: none;
    color: white;
    transition: all ease-in-out .2s;
    border-radius: 5px;

}

.option{
    outline: none;
    border: none;
}

.buttom {
    width: 90%;
    height: 220px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    background-color: #e1e1e188;
    border-radius: 10px;
}

.buttomdark{
    width: 90%;
    height: 220px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    background-color: #161A20;
    border-radius: 10px;
    transition: all ease-in-out .2s;   
}