.whole {
    max-width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 78vh;
    background-color: #f5f5f5;
}

.left {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    gap: 25px;
}

.left h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75px;
    font-weight: 800;
    line-height: 1;
}

.left p {
    font-size: 18px;
    color: gray;
}

.left button {
    height: 60px;
    font-size: 20px;
    width: 180px;
    background-color: #4f46e5;
    color: #fff;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
}

.left button:hover {
    background-color: #4338ca;
}

.right {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
}

.right img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}



/* Tablet */
@media (max-width: 1130px) {
    .whole {
        flex-direction: column;
        height: auto;
        /* allow content to grow */
        padding: 40px 20px;
        text-align: center;
    }

    .left {
        width: 90%;
        margin-left: 0;
        align-items: center;
    }

    .right {
        width: 90%;
        height: auto;
        padding: 20px 0;
    }

    .right img {
        height: auto;
        max-height: 500px;
    }
}

/* Mobile */
@media (max-width: 600px) {

    .left h2 {
        font-size: 42px;
        /* scale down only for mobile */
    }

    .left p {
        font-size: 16px;
    }

    .left button {
        height: 50px;
        width: 160px;
        font-size: 16px;
    }

    .right img {
        max-height: 400px;
    }
}