.whole {
    max-width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 78vh;
    background-color: #f5f5f5;
}

.wholedark {
    max-width: 100vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 78vh;
    background-color: #000033;
    color: white;
}

.left {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    gap: 25px;
}

.leftdark {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    gap: 25px;
}

.left h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75px;
    font-weight: 800;
    line-height: 1;
}

.leftdark h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75px;
    font-weight: 800;
    line-height: 1;
}

.left p {
    font-size: 18px;
    color: gray;
}

.leftdark p {
    font-size: 18px;
    color: gray;
}


.left button {
    height: 60px;
    font-size: 20px;
    width: 180px;
    background-color: #4f46e5;
    color: #fff;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
}

.leftdark button {
    height: 60px;
    font-size: 20px;
    width: 180px;
    background-color: #4f46e5;
    color: #fff;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
}

.left button:hover {
    background-color: #4338ca;
}

.right {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
}

.rightdark {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
}

.right img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.rightdark img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media (max-width: 1130px) {
    .whole {
        flex-direction: column;
    }

    .wholedark {
        flex-direction: column;
    }

    .left {
        width: 95%;
        border: 2px solid red;
    }

    .leftdark {
        width: 95%;
        border: 2px solid red;
    }

    .leftdark h2 {
        font-size: 45px;
    }

    .rightdark {
        width: 50%;
    }

}